<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhi.blog.mapper.NoticeMapper" >

    <resultMap type="com.wangzhi.pojo.Notice" id="BaseResultMap">
        <id jdbcType="INTEGER" property="noticeId" column="notice_id"/>
        <result jdbcType="VARCHAR" property="noticeTitle" column="notice_title"/>
        <result jdbcType="VARCHAR" property="noticeContent" column="notice_content"/>
        <result jdbcType="TIMESTAMP" property="noticeCreateTime" column="notice_create_time"/>
        <result jdbcType="TIMESTAMP" property="noticeUpdateTime" column="notice_update_time"/>
        <result jdbcType="INTEGER" property="noticeStatus" column="notice_status"/>
        <result jdbcType="INTEGER" property="noticeOrder" column="notice_order"/>
    </resultMap>
    <sql id="Base_Column_List">notice_id, notice_title, notice_content, notice_create_time, notice_update_time,notice_status, notice_order </sql>
    <select id="getNoticeList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            notice
    </select>
    <select id="getNoticeById" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            notice
        WHERE
            notice_id=#{noticeId}
    </select>
    <update id="updateNotice" parameterType="com.wangzhi.pojo.Notice">
        update notice
        <set>
            <if test="noticeTitle != null">notice_title = #{noticeTitle,jdbcType=VARCHAR}, </if>
            <if test="noticeContent != null">notice_content = #{noticeContent,jdbcType=VARCHAR}, </if>
            <if test="noticeCreateTime != null">notice_create_time = #{noticeCreateTime,jdbcType=TIMESTAMP}, </if>
            <if test="noticeUpdateTime != null">notice_update_time = #{noticeUpdateTime,jdbcType=TIMESTAMP}, </if>
            <if test="noticeStatus != null">notice_status = #{noticeStatus,jdbcType=INTEGER}, </if>
            <if test="noticeOrder != null">notice_order = #{noticeOrder,jdbcType=INTEGER}, </if>
        </set>
            where notice_id = #{noticeId,jdbcType=INTEGER}
    </update>
    <insert id="insertNotice" parameterType="com.wangzhi.pojo.Notice">
        insert into notice
        <trim suffixOverrides="," suffix=")" prefix="(">
            <if test="noticeId != null">notice_id, </if>
            <if test="noticeTitle != null">notice_title, </if>
            <if test="noticeUpdateTime != null">notice_update_time, </if>
            <if test="noticeStatus != null">notice_status, </if>
        </trim>
       <trim suffixOverrides="," suffix=")" prefix="values (">
            <if test="noticeId != null">#{noticeId,jdbcType=INTEGER}, </if>
            <if test="noticeTitle != null">#{noticeTitle,jdbcType=VARCHAR}, </if>
            <if test="noticeUpdateTime != null">#{noticeUpdateTime,jdbcType=TIMESTAMP}, </if>
            <if test="noticeStatus != null">#{noticeStatus,jdbcType=INTEGER}, </if>
        </trim>
    </insert>
</mapper>